.card:hover {
    transform: translateY(0%);
}
.watch-page .watch-icons {
    position: absolute;
    bottom: 5px;
    right: 20px;
}
.watch-icons i:hover {
    cursor: pointer;
}
.watch-page #more {
    display: none;
}
.form-control:focus {
    box-shadow: none;
}
.card-inner {
    display: none;
}
.card .fa-play {
    top: 37% !important;
    right: 46% !important;
}
time {
    left: 20px !important;
}
@media (max-width: 992px) {
    #myBtn {
        margin-bottom: 60px !important;
    }
}
@media (max-width: 570px){
    .reply-time {
        font-size: 10px;
    }
}